<style>

        table.table1{
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding:10px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    text-align: left;
    /*border:1px solid #93CE37;*/
    /*border-bottom:3px solid #9ED929;*/
    background-color:#00539F;
    margin-left: 10px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:1px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
    );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
    );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:5px;
    background-color:#DEF3CA;
    border: 2px solid white;
    text-align: left;
}

td.label1 {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

.sigbox {
    border-radius: 3px;
    border: 1px solid #EEE;
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
    margin: 0 0 5px;
    padding: 5px;
    text-align: center;
    width: 286px;
}
.sigboxselected {
    border-radius: 3px;
    border: 1px solid #EEE;
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
    margin: 0 0 5px;
    padding: 5px;
    text-align: center;
    width: 286px;
    background-color: lightgreen;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

</style>
