@CHARSET "ISO-8859-1";
#candidates .column .Announcement, div.Announcement
{
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3 #BFBFBF #BFBFBF #E3E3E3;
	/*border: 1px solid #faf6e7;*/
	padding: 8px!important;
	margin-bottom: 1.5em;
	word-wrap: break-word;
	width: 95%;
	/* To enable gradients in IE < 9 */
	zoom: 1;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	
	-moz-box-shadow: 3px 3px 5px rgba(127,108,56,0.4);
	-webkit-box-shadow: 3px 3px 5px rgba(127,108,56,0.4);
	box-shadow: 3px 3px 5px rgba(127,108,56,0.4);
   
	/* http://www.colorzilla.com/gradient-editor/ */
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
}


div.newAnnouncement
{

	border-style: solid!important;
	border-color: #6C922A!important;

	background: #E0EAD0!important;



	/*background: rgb(254,254,253)!important; *//* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYWViZjc2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhZWJmNzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlYmY3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGNlM2M0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==)!important;*/
	/*background: -moz-linear-gradient(left,  rgba(254,254,253,1) 0%, rgba(174,191,118,1) 0%, rgba(174,191,118,1) 0%, rgba(174,191,118,1) 0%, rgba(220,227,196,1) 0%)!important; *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,254,253,1)), color-stop(0%,rgba(174,191,118,1)), color-stop(0%,rgba(174,191,118,1)), color-stop(0%,rgba(174,191,118,1)), color-stop(0%,rgba(220,227,196,1)))!important; *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(left,  rgba(254,254,253,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(220,227,196,1) 0%)!important; *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left,  rgba(254,254,253,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(220,227,196,1) 0%)!important; *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(left,  rgba(254,254,253,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(220,227,196,1) 0%)!important; *//* IE10+ */
	/*background: linear-gradient(left,  rgba(254,254,253,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(174,191,118,1) 0%,rgba(220,227,196,1) 0%)!important; *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#dce3c4',GradientType=1 )!important; *//* IE6-8 */


}

div.Announcement div.Title
{
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #555555;	
	letter-spacing: 0em;
	font-weight:bold;
	width: 82%!important;
}


div.Announcement div.Subtitle
{
	font-family: sans-serif;
	font-size: 100%;
	color: #555555;
	font-style: normal;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;	
}


div.Announcement div.DateOld
{
	float: right;
	width: 30px!important;
	height: 25px;
	color: #555555;
	font-family: Georgia,serif;
	background-color: white;
	border: 1px solid #555555;
	padding: 3px;
	margin-left: 10px;
	margin-bottom: 5px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	cursor: default;
}


div.Announcement div.DateNew
{
	float: right;
	width: 35px;
	height: 35px;
	color: orange;
	font-family: Georgia,serif;
	background-color: white;
	border: 1px solid #4297D7!important;
	padding: 3px;
	margin-left: 10px;
	margin-bottom: 5px;
	
	font-weight: bold;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	/*
	-moz-box-shadow: 0px 0px 8px rgba(255,165,0,0.8);
	-webkit-box-shadow: 0px 0px 8px rgba(255,165,0,0.8);
	box-shadow: 0px 0px 8px rgba(255,165,0,0.8);
	*/
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	cursor: default;
}

div.Announcement div.DateOld div.Month, div.Announcement div.DateNew div.Month
{
	text-align: center;
	font-size: 8pt;
	text-transform: uppercase;
	padding: 0!important;
}

div.Announcement div.DateOld div.Day, div.Announcement div.DateNew div.Day
{
	text-align: center;
	font-size: 7pt;
	padding: 0!important;
}

div.Announcement div.Meta
{
	margin-top: 0px;
	margin-left: 5px;
	magrin-right:0px;
	margin-bottom:0px;
	padding:0px;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	font-style: italic;
	color: #555555;	
	width:95%!important;
}

div.Announcement div.Body
{
	color: #555555;
	margin-top: 20px;
}

/******* Announcements Contents Toggle ******************/
div.Announcement div.Links
{
	text-align: right;
	padding:0!important;	
}

.lesslink 
{
    text-decoration:none!important;
    outline: none;
    color: #ff8500!important;
}

.longcontent 
{      
    margin-left:0px!important;
    padding:0px!important;
}

/******* Announcements Body Contents ******************/
div.Announcement div.Body h1, div.Announcement div.Body h2, div.Announcement div.Body h3, div.Announcement div.Body h4
{
	border: none;
	width: inherit;
	margin-top: 1em;
	background-color: transparent;
	letter-spacing: normal;
	padding: 0px;
	color: #555555;
	font-family: "Arial", "Helvetica", "Sans-Serif";
	font-weight: bold;
}

div.Announcement div.Body h1
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Announcement div.Body h2
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Announcement div.Body h3
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Announcement div.Body h4
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.1em;
}

div.Announcement div.Body p
{
	margin-bottom: 1em;
	margin-top: 0px;
	margin-left:5px;
	margin-right:5px;
	font-family: arial, helvetica, sans-serif;
	word-wrap: break-word;
	text-align: justify;
}

div.Announcement div.Body > ul, div.Announcement div.Body > ol
{
	margin-bottom: 1.5em;
	margin-top: 0px;
	font-family: arial, helvetica, sans-serif;	
}

/* Move lists closer to preceding paragraph */
div.Announcement div.Body > p + ul, div.Announcement div.Body > p + ol
{
	margin-top: -5px;
}

div.Announcement div.Body a
{
	text-decoration: underline;
	color: #8eb626;
}

div.Announcement div.Body div.Quote
{
	margin-top: 1em;
	margin-left: 0px;
	margin-bottom: 2em;
	border-left: 5px solid #555555;
	padding-left: 0px;
	padding-right: 0px;
}

div.Announcement div.Body div.Indent
{
	margin-top: 1em;
	margin-left: 30px;
	margin-bottom: 2em;
}

div.Announcement div.Body table
{
	border-collapse: collapse;	
	margin-bottom: 20px;
	margin-left: 20px;
}

div.Announcement div.Body td, div.Announcement div.Body th
{
	border: 1px dotted grey!important;
	padding: 3px;
}

div.Announcement div.Body th
{
	border-bottom-style: solid;
	border-top-style: solid;
	color:#fff;
	background: rgb(40,52,59); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 44%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,52,59,1)), color-stop(44%,rgba(130,140,149,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* IE10+ */
	background: linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#828c95',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	text-align: center;
}
/*
div.Announcement div.Body tr:first-child > td
{
	border-bottom-style: solid;
	border-top-style: solid;
	background-color: #ffcd62;
	font-weight: bold;
	text-align: center;
}
*/

/******* Announcement Navigation Style ******************/

div.NavigationPanel
{
	width:96%!important;
	border-width: 0px;
	border-style: solid;
	border-color: #DDDDDD #CCC #CCC #DDDDDD;
	background-color: white;
	margin-bottom: 1.5em;
	
	padding: 0px;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 5px;
	
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

div.viewNavigator
{
	margin: 0px!important;
	padding:0px!important;
		
}

div.viewNavigator table
{
	width:100%!important;
}

div.viewNavigator table tbody
{
	font-weight: bold;
	color: #555555;
}

div.viewNavigator table tr
{
	font-family: sans-serif;
	color: #555555;
	font-style: normal;
	text-align: justify;
}

div.viewNavigator table td
{
	font-style:bold!important;
}

div.viewNavigator table td button
{	
	padding:0!important;
	margin:0!important;
}

div.viewNavigator table td span
{
	float:none!important;
}

/*
div.Comment
{
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3 #BFBFBF #BFBFBF #E3E3E3;
	/*border: 1px solid #faf6e7;*/
	/*padding: 12px;
	margin-bottom: 1.5em;
	
	/* To enable gradients in IE < 9 */
/*	zoom: 1;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	
	-moz-box-shadow: 3px 3px 5px rgba(152,163,170,0.4);
	-webkit-box-shadow: 3px 3px 5px rgba(152,163,170,0.4);
	box-shadow: 3px 3px 5px rgba(152,163,170,0.4);
	
	background: rgb(244,250,255); /* Old browsers */
	/*background: -moz-linear-gradient(top, rgba(244,250,255,1) 0%, rgba(226,244,255,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,250,255,1)), color-stop(100%,rgba(226,244,255,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, rgba(244,250,255,1) 0%,rgba(226,244,255,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, rgba(244,250,255,1) 0%,rgba(226,244,255,1) 100%); /* Opera11.10+ */
	/*background: -ms-linear-gradient(top, rgba(244,250,255,1) 0%,rgba(226,244,255,1) 100%); /* IE10+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4faff', endColorstr='#e2f4ff',GradientType=0 ); /* IE6-9 */
	/*background: linear-gradient(top, rgba(244,250,255,1) 0%,rgba(226,244,255,1) 100%); /* W3C */
}

/*
div.Comment div.Title
{
	margin-top: 0px;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	color: #555555;	
}

div.Comment div.Title span.NewContent
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #44aaff;
	color: white;
	margin-right: 10px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 80%;
}

div.Comment div.DateOld
{
	display: inline;
	float: right;
	width: 35px;
	height: 200px;
	color: #555555;
	font-family: Georgia,serif;
	background-color: white;
	border: 1px solid #555555;
	padding: 3px;
	margin-left: 10px;
	margin-bottom: 5px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.Comment div.DateNew
{
	float: right;
	width: 35px;
	height: 35px;
	color: #44aaff;
	font-family: Georgia,serif;
	background-color: white;
	border: 1px solid #44aaff;
	padding: 3px;
	margin-left: 10px;
	margin-bottom: 5px;
	
	font-weight: bold;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	/*
	-moz-box-shadow: 0px 0px 8px rgba(68, 170, 255, 0.8);
	-webkit-box-shadow: 0px 0px 8px rgba(68, 170, 255, 0.8);
	box-shadow: 0px 0px 8px rgba(68, 170, 255, 0.8);
	*/
}
/*
div.Comment div.DateOld div.Month, div.Comment div.DateNew div.Month
{
	text-align: center;
	font-size: 10pt;
	text-transform: uppercase;
}

div.Comment div.DateOld div.Day, div.Comment div.DateNew div.Day
{
	text-align: center;
	font-size: 8pt;
}

div.Comment div.Meta
{
	margin-top: 0px;
	
	font-family: Arial, sans-serif;
	font-size: 11pt;
	color: #555555;	
}

div.Comment div.Body
{
	color: #555555;
	margin-top: 20px;
}


div.Comment div.Links
{
	text-align: right;
	color: #555555;
}

div.Comment div.Links a
{
	color: #2192ef;	
}

div.Comment div.Body h1, div.Comment div.Body h2, div.Comment div.Body h3, div.Comment div.Body h4
{
	border: none;
	width: inherit;
	margin-top: 1em;
	padding: 0px;
	background-color: transparent;
	letter-spacing: normal;
	color: #555555;
	font-family: "Arial", "Helvetica", "Sans-Serif";
	font-weight: bold;
}

div.Comment div.Body h1
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Comment div.Body h2
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Comment div.Body h3
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Comment div.Body h4
{
	font-size: 11pt;
	margin-left: 0px;
	margin-bottom: 0.2em;
}

div.Comment div.Body p
{
	margin-bottom: 1em;
	margin-top: 0px;
	font-family: arial, helvetica, sans-serif;
}

div.Comment div.Body > ul, div.Comment div.Body > ol
{
	margin-bottom: 1.5em;
	margin-top: 0px;
	font-family: arial, helvetica, sans-serif;	
}

/
/* Move lists closer to preceding paragraph */
/*
div.Comment div.Body > p + ul, div.Comment div.Body > p + ol
{
	margin-top: -5px;
}

div.Comment div.Body a
{
	text-decoration: underline;
	color: #2192ef;
}

div.Comment div.Body div.Quote
{
	margin-top: 1em;
	margin-left: 30px;
	margin-bottom: 1.5em;
	border-left: 5px solid darkblue;
	padding-left: 6px;
	padding-right: 50px;
	text-align: justify;
}

div.Comment div.Body div.Indent
{
	margin-top: 1em;
	margin-left: 30px;
	margin-bottom: 1.5em;
}

div.Comment div.Body table
{
	border-collapse: collapse;	
	margin-bottom: 20px;
	margin-left: 20px;
}

div.Comment div.Body td, div.Comment div.Body th
{
	border: 1px dotted #73bfff;
	padding: 3px;
}

div.Comment div.Body th
{
	border-bottom-style: solid;
	border-top-style: solid;
	background-color: #afdbff;
	font-weight: bold;
	text-align: center;
}

div.Comment div.Body tr:first-child > td
{
	border-bottom-style: solid;
	border-top-style: solid;
	background-color: #afdbff;
	font-weight: bold;
	text-align: center;
}
*/