a img
{
	border: 0;
}

.noleftmargin
{
	margin-left: 0;
}

form
{
	margin: 0; padding:0; border:0;
}

/* remove silly italicizing on optgroup labels */
optgroup { font-style: normal; font-weight: bold; }

html
{
	margin: 0px;
	padding: 0px;
}

p.body
{
	font-family:   Arial,sans-serif;;
	color:#666666;
	font-size: 13px;
	font-style: normal;
	text-align: justify;
	margin: 5px 10px 10px 10px;
	width: 580px;
}

body
{
	font-family:   Arial,sans-serif;
	color:#666666;
	font-size: 13px;
	padding: 5px 7px 0px 8px;
}

a, a:visited
{
	color: #5ec2a5;
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	color: #5ec2a5;
	cursor: pointer;
	text-decoration: underline;
}

h3
{
	color: #3E3E3E;
	font-size: 14pt;
	margin: 20px 0px 20px 10px;
	padding-bottom: 2px;
	width: auto;
	text-transform:capitalize;
}

h3.introduction
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F7F7F7;
	color: #3E3E3E;
	margin: 20px 0px 10px 0px;
	letter-spacing: 0.1em;
	width: 700px;
	padding: 5px;
}

h4
{
	font-size: 12pt;
	color: #3E3E3E;;
	width: 590px;
	border-bottom: 1px dotted grey;
	margin: 10px 0px 10px 15px;
	text-transform:capitalize;
}

p.introduction
{
	text-align: justify;
	width: 580px;
	font-family:   Arial,sans-serif;
	color:#666666;
	font-size: 13px;
	margin: 5px 10px 10px 10px;
}

p.body
{
	font-family:    Arial,sans-serif;
	font-size: 13px;
	color:#666666;
	font-style: normal;
	text-align: justify;
	margin: 5px 10px 10px 10px;
	width: 580px;
}

a.download-button
{
	background: url('/images/table-export.jpg') no-repeat;
	width: 26px;
	height: 26px;
	float:left;
	text-decoration: none;
	display: inline;
}

a.show-bar-chart-button {
	background: url("/images/barchart.gif") no-repeat;
	float: left;
	height: 26px;
	text-decoration: none;
	width: 26px;
	border-radius: 5px;
	margin-left: 10px;
}

a.show-pie-chart-button {
	background: url("/images/piechart.gif") no-repeat;
	float: left;
	height: 26px;
	text-decoration: none;
	width: 26px;
	border-radius: 5px;
}


/******************PAGE HEADER************************************************************/
.banner .head
{
	height:27px;
	overflow:hidden;
	margin-bottom:8px;
}
.banner table
{
	font-size:30px;
	height:54px;
	padding:0px 5px 10px 5px;
}

.banner table th
{
	font-size:10px;
}

.banner .head .Timestamp
{
	font-size:11px;
	font-family:"Courier New", Courier, monospace;
}

.button_bar
{
	background-image:url(images/button_bar_back.gif);
	background-position:top;
	background-repeat:repeat-x;
	height:27px;
	overflow:hidden;
	margin-bottom:8px;
}

.button_bar .button_wrap
{
	display:table-cell;
	float:left;
	height:27px;
	border-left:1px solid #bdbdbd;
	border-right:1px solid #f4f4f4;

}

.button_bar .button_start
{
	height:27px;
	border-left:1px solid #bdbdbd;
	display:inline-block;
}

.button_bar .left
{
	background-image:url(images/button_bar_start.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:15px;
}

.button_bar .right
{
	background-image:url(images/button_bar_end.gif);
	background-repeat:no-repeat;
	background-position:top right;
}

.button_bar .left .button_header
{
	margin: 1px 2px;
	border-left: 1px solid #F6F6F6;
	border-right: 1px solid #B9B9B9;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	height: 22px;
	padding: 5px 15px 0;

}

.button_bar .left .button_header:hover
{
	background:none repeat scroll 0 0 white;
	box-shadow:0 0 9px rgba(0,0,0,0.4),0 0 0 1px rgba(188,188,188,0.1);
}

.button_bar .right img
{
	cursor:pointer;
}


#breadcrumbs
{
	font-size: 11px;
	background-color:#909090 ;
	height:17px;
	padding:3px 3px 3px 15px;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#breadcrumbs ol
{
	margin:0px;
	padding:0px;
	display:inline;
}

#breadcrumbs li.breadcrumb
{
	background: transparent url('images/breadcrumb3.gif') center left no-repeat;
	padding-left: 16px;
}

#breadcrumbs ol li
{
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}

#breadcrumbs ol li a
{
	color: white;
	/*text-decoration: underline;*/
}

.filterCrumbs
{
	background:url(images/filter_shadow.gif) repeat ;
	clear:both;
	font-size: 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

span.filterCrumb
{
	display:inline-block;
	padding:2px 10px 0px 10px;
	height:18px;
	border-right:1px solid #aaa;
	cursor:pointer;
}

span.filterCrumb:hover
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 5px 0px 0px;
	/*background: none repeat scroll 0 0 #F5F9EE;*/
	color: #5EC2A5;
}

#div_filters
{
	background-color:#F5F9EE;
	position:relative;
	margin-top:5px;
	padding:10px;
	border:1px solid #b1d075;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:auto;
}


#savedFilterBox { background-image:url(/images/table_head_back.gif); background-repeat:repeat-x; background-position:top; background-color:#e6e6e6; border: 1px solid #aaa; height: 35px; line-height: 30px; margin: 8px 0; width: auto; float: left; padding: 0 10px; }
#savedFilterBox p, #savedFilterBox label { display: block; float: left; height: 31px; margin:0; padding: 0 5px 0 0; }
#savedFilterBox .selectWrapper { float: left; padding: 5px 0 0 0;  }
#savedFilterBox a.help { display: block; float: left; width: 58px; height: 22px; text-indent: -999em; background: url(../../images/help_button.gif) no-repeat left top; margin: 5px 0 0 5px; }
.kpi_sublinks { padding: 0 0 0 20px; }
.kpi_sublinks a { color: #AAA; }
#applyFilter { clear: both; }


#filterBox { position: relative; margin:0; font-family:   Arial,sans-serif; }
#filterBox h2 { margin:0; padding:0; border:0; font-size: 13px; }
#filterBox fieldset { border: 0;padding:0;margin:0 30px 15px 0; display: block; }
#filterBox fieldset.float { float: left; }
#filterbox fieldset.newrow { clear: both;  }
#filterBox div.field { margin: 5px 0 10px 0; }
#filterBox div.field.float { float: left; margin: 0 30px 0 0; }
#filterBox div.field.newrow { clear: both; float: none; }
#filterBox div.field label { display: block; padding: 4px 0 4px 0; }
#filterBox fieldset legend { margin:0 0 5px 0; padding:0; font-size: 13px; font-weight: bold; text-indent: 0; }
#filterBox a.close { display: block; position: absolute; top: 5px; right: 5px; width: 16px; height: 16px; background: url(/images/close_icon.gif) no-repeat left top; }


/*********************Button*******************************************************/
.button
{
	-moz-transition: box-shadow 0.3s ease-in-out 0s;
	background-image:url(images/button_bar_back.gif);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	display: block;
	float: left;
	margin: 1px 2px;
	overflow: hidden;
	padding:5px 15px 5px 15px;
	cursor:pointer;
	text-transform:capitalize;
	height: auto;
	width:auto;
	border: 1px solid #A3A3A3;
	border-radius: 5px;
	font-weight:bold;
}

.button:hover
{
	background:none repeat scroll 0 0 white;
	box-shadow:0 0 9px rgba(0,0,0,0.4),0 0 0 1px rgba(188,188,188,0.1);
}

/*****************************INPUT LABELS*************************************************/

input[type="text"], input[type="password"], textarea, select
{
	border-width: 1px;
	border-color: #B9B9B9;
	border-style: solid;
	padding: 2px;
	background-color: #FFFFFF !important; /* GOOGLE TOOLBAR AUTOFILL KILLER */
	color: #666666;
	font-family:    Arial,sans-serif;
	font-size: 13px;
}

input[type="text"].compulsory, select.compulsory, textarea.compulsory
{
	border-width: 1px;
	border-color: #648827;
	background-color: #f3fae5 !important;
	border-style: solid;
	padding: 2px;
	font-size: 13px;
}

/* Firefox only */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
	border-width: 1px;
	border-color: #5ec2a5;
	border-style: solid;
	padding: 2px;
}

input[type="submit"]
{
	-moz-transition: box-shadow 0.3s ease-in-out 0s;
	background-image:url(images/button_bar_back.gif);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	display: block;
	float: left;
	margin: 1px 2px;
	overflow: hidden;
	padding:3px 15px 3px 15px;
	cursor:pointer;
	text-transform:capitalize;
	height: auto;
	width:auto;
	border: 1px solid #A3A3A3;
	border-radius: 5px;
	font-weight:bold;
	color: #666666;
	font-family: Arial,sans-serif;
	font-size: 13px;
}

input[type="button"]
{
	-moz-transition: box-shadow 0.3s ease-in-out 0s;
	background-image:url(images/button_bar_back.gif);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	display: block;
	float: left;
	margin: 1px 2px;
	overflow: hidden;
	padding:3px 15px 3px 15px;
	cursor:pointer;
	text-transform:capitalize;
	height: auto;
	width:auto;
	border: 1px solid #A3A3A3;
	border-radius: 5px;
	font-weight:bold;

	color: #666666;
	font-family: Arial,sans-serif;
	font-size: 13px;

}

input[type="submit"]:hover
{
	background:none repeat scroll 0 0 white;
	box-shadow:0 0 9px rgba(0,0,0,0.4),0 0 0 1px rgba(188,188,188,0.1);
}

input[type="button"]:hover
{
	background:none repeat scroll 0 0 white;
	box-shadow:0 0 9px rgba(0,0,0,0.4),0 0 0 1px rgba(188,188,188,0.1);
}

/***********************Navigation Menu*******************************************************/
div.viewNavigator
{
	color: #666666;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 12px;
	margin: 5px;
}

div.viewNavigator a {
	text-decoration:none;
	color: #395596;
}

#navigation-menu {
	background-color: white;
	font-family:    Arial,sans-serif;
	font-size: 12px;
	padding: 5px;
}

#navigation-menu .cornerBox span.button {
	border:0px outset #668FEB;
	padding:3px;
	margin:5px 2px 2px 2px;
	cursor:pointer;
	background-color: #668FEB;
	color: white;
}

#navigation-menu .cornerBox {
	background: url('images/SUNlogo.png') no-repeat;
	color: white;
	height: 150px;
}
#navigation-menu div.menu {
	background: url('images/menu_item_inactive.gif') no-repeat;
	color: black;
	cursor: pointer;
	font-weight: bold;
	font-size: 120%;
	height: 20px;
	margin: 10px 2px 2px 4px;
	padding: 3px;
}

#navigation-menu div.menu:hover {
	background: url('images/menu_item_active.gif') no-repeat ;
}

#navigation-menu div.menuItem {
	margin-left: 10px;
	margin-top: 3px;
	color: #395596;
}

#navigation-menu div.menuItem a {
	color: #395596;
	text-decoration: none;
}

#navigation-menu div.menuItem a:hover {
	color: #5ec2a5;
	text-decoration: underline;
}

#navigation-menu #divUser {
	text-align: center;
	position:absolute;
	width: 150px;
	bottom:20px;
	color: #03503B;
}

.sectionDescription
{
	color: #666666;
	font-family:    Arial,sans-serif;
	font-size: 13px;
	text-align: justify;
	width: 680px;
	margin: 5px 10px 10px 10px;
	padding:5px;
	font-style: italic;
}

li.sectionDescription
{
	width: 400px;
}

div.viewNavigator a:hover
{
	text-decoration:none;
}

/***********************Toggle******************************************************/

#menu
{
	list-style:none;
	overflow: hidden;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 3px #aaa;
	-webkit-box-shadow: 0 0 3px #aaa;
	box-shadow: 0 0 3px #aaa;

	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-8 */
}

#menu li
{
	float: left;
	width: auto;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	padding: 8px 10px 8px 10px;
}

#menu li a
{
	width: auto;
	font-size: 13px;
	font-weight: bold;
	height: 16px;
	padding: 8px 0 8px 0;
	text-align: center;
	z-index: 10;
	position: relative;
	color: #666666;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

#menu li a:hover
{
	background: #fff;
	text-decoration: none;
}

#boxes
{
	position: relative;
}

#boxes h1, #boxes h2, #boxes h3
{
	font-size: 16px;
	font-weight: bold;
}

.box:target, .box:first-child
{
	display: block;
}

.box
{
	padding:12px;
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 276px;
	min-height: 226px;
	background: #fff;
}

.box ul, .box p
{
	line-height: 1.5em;
	padding-top: 1em;
}

#boxes a
{
	color: #ff0000;
}

.box li a
{
	display: block;
	line-height: 2.2em;
	font-size: 14px;
	margin-bottom: 6px;
	padding-left: 10px;
	border-left: 1px solid #bbb;
}

#boxes ul li a:hover
{
	color: #fff;
	font-weight: bold;
	background: #999;
	text-decoration: none;
	border-left: 1px solid #555;
}


/****************** FOOTER LAYOUT *********************************************/
div#footer
{
	border-top: 1px solid #808080;
	color: #6c6c6c;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 50px;
}

div#footer span
{
	padding: 0 5px;
}

/******************************************************************************/

/**
 * The dotted line above the percentage in attendance summary cells
 */
span.AttendancePercentage, div.AttendancePercentage
{
	border-width:1px 0px 0px 0px;
	border-style:dotted;
	border-color:gray;
}

/*****************************LABELS*************************************************/
.fieldLabel
{
	font-family:Arial;
	/*font-weight: bold;*/
	text-transform:capitalize;
	font-size: 12px;
	line-height: 1.5;
}

.fieldLabel_compulsory
{
	font-family:Arial;
	font-weight: bold;
	text-transform:capitalize;
	font-size: 12px;
	line-height: 1.5;
	content: " *";


}

.fieldLabel_optional
{
	font-family:Arial;
	/*font-weight: bold;*/
	text-transform:capitalize;
	font-size: 12px;
	line-height: 1.5;
}

.fieldValue
{
	border: 1px solid #DDDDDD;
}

/***********************Table layout*******************************************************/

.resultset .hover
{
	background-color:#F5F9EE;
	color:black;

}

.resultset .hover td
{

	/*	border-top:1px solid black;
		border-bottom:1px solid black;*/
}

.resultset .hover .colgroup
{
	border-top:1px solid black;
	border-bottom:1px solid black;

}


.zebra_odd
{
	background-color: white;
}

.zebra_even
{
	background-color: #F7F7F7;
}


table.resultset
{
	border: 0px solid #E9E9E9;
	border-left-width: 1px;
	background-color:white;
	margin-left:10px;
}

table.resultset td
{
	border-width: 0px 1px 1px 0px;
	border-style:solid;
	border-color:#E9E9E9;
	height: 30px;
	padding: 5px;
}

table td.icon
{
	padding:0px;
}

table.resultset td a
{
	align: center;
}

table.resultset td a:hover
{
	align: center;
}

table.resultset td img
{
	text-align:center;
	height: 20px;
}

table.resultset th
{
	background:#f5f9ee;
	border: 1px solid silver;
	border-left-width: 0px;
	font-size: 12px;
	color:#666666;
	font-weight:bold;
	text-align: center;
}

th.bottomRow
{
	border-width: 0px 1px 1px 0px!important;
	border-style:solid!important;
	border-color:#E9E9E9!important;
	border-bottom-color: silver!important;
	height: 30px;
	padding: 5px;

}

th.topRow
{
	border-width: 1px 1px 1px 0px!important;
	border-style:solid!important;
	border-color:#E9E9E9!important;
	border-bottom-color: silver!important;
	border-top-color: silver!important;
	height: 30px;
	padding: 5px;
}

tr.topRow th, tr.bottomRow td, tr.topRow td
{
	background:#f5f9ee;
	text-align: center;
}

tr.bottomRow td
{
	text-align: left;
	border-width:1px;
}

tr.middleRow th
{
	background:#f5f9ee;
	text-align: center;
}

tr.bottomRow th
{
	background:#f5f9ee;
	text-align: center;
}

#dataMatrix .header
{ 	background:#f5f9ee;
	border: 1px solid silver;
	border-left-width: 0px;
	font-size: 12px;
	color:#86b128;
	text-align: center;
}
#dataMatrix .headerSortUp
{
	cursor: pointer;
	padding-right: 25px;
	background: #EEE url(/images/thead_bg_up.gif) no-repeat right center;
}

#dataMatrix .headerSortDown
{
	cursor: pointer;
	padding-right: 25px;
	background: #EEE url(/images/thead_bg_down.gif) no-repeat right center;
}

/* added the above table sorting as a class to allow mulitple tables per page */
table.sortData .header
{
	background:#f5f9ee;
	border: 1px solid silver;
	border-left-width: 0px;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
table.sortData .headerSortUp
{
	cursor: pointer;
	padding-right: 25px;
	background: #EEE url(/images/thead_bg_up.gif) no-repeat right center;
}

table.sortData .headerSortDown
{
	cursor: pointer;
	padding-right: 25px;
	background: #EEE url(/images/thead_bg_down.gif) no-repeat right center;
}


/**************************FORM***************************************************/



ul.formlist
{
	width: 100%;
	margin: 0;
	list-style: none; margin:0; padding:0;
}

ul.formlist li
{
	background: url(/images/report2.gif) no-repeat 5px center;
	font-weight: bold;
	margin: 20px 0 0 20px;
	padding: 15px 0 15px 60px;
}

ul.formlist li.el { background: url(images/icon_form_1.gif) no-repeat 5px center; }
ul.formlist li.fa { background: url(images/icon_form_2.gif) no-repeat 5px center; }
ul.formlist li.la { background: url(images/icon_form_3.gif) no-repeat 5px center; }
ul.formlist li.sla { background: url(images/icon_form_4.gif) no-repeat 5px center; }
ul.formlist li.tl { background: url(images/icon_form_5.gif) no-repeat 5px center; }
ul.formlist li.ufl { background: url(images/icon_form_6.gif) no-repeat 5px center; }

ul.formlist li a { display: block; font-weight: bold; margin: 0 0 3px 0; }

/*****************************************************************************/
div.bs7666
{
	margin: 10px 0px 0px 0px;
}

div.bs7666 span.fieldLabel
{
	font-size:8pt;
	color: #555555;
	font-style: italic;
}

fieldset.bs7666
{
	margin:0px 0px 10px 0px;
}

fieldset.bs7666 legend
{
	color:#555555;
	font-size:10pt;
}

div.envelope
{
	margin-left:15px;
	padding: 30px 5px 5px 5px;
	border-width: 1px;
	border-color: #CCCCCC #999999 #999999 #CCCCCC;
	border-style: solid;
	height:110px;
	width:180px;
	overflow: hidden;
	font-size:8pt;
	background-image:url('images/postage-stamp.png');
	background-position: 95% 5%;
	background-repeat:no-repeat;
	background-color: #ffffe8;
}

/*******************************************************************************/

div.note
{
	margin: 0px 0px 20px 10px;
	width: 90%;
	max-width: 550px;
	border-width: 1px;
	border-color: #C0C0C0 #909090 #909090 #C0C0C0;
	border-style: solid;
	padding: 10px;
	background:#F3FAE5;
}

div.note .header
{
	border: 0px dotted gray;
	border-bottom-width: 1px;
	padding-bottom: 2px;
	font-size: 11pt;
	color: #666666;
	margin-bottom: 5pt;
	font-weight:bold;
}

div.note .author
{
	margin-top: 5pt;
	margin-bottom: 8pt;
	text-align: right;
	font-size: 9pt;
	font-weight: normal;
	font-family: monospace;
	color: #444444;

}

div.note p
{
	margin: 0px 0px 0.4em 0px;
	color: #444444;
}

/*****************Application ACL*********************/

tr.aclSubheading
{
	background-color: #F3FAE5;
	font-weight: bold;
}

tr.aclRowSelected
{
	color: white;
	background-color: #666666;
}

tr.aclRowUnselected
{
	color: black;
}

p.aclEntry
{
	font-family: monospace;
	margin: 0px 0px 0.2em 0px;
}


*/
/* yellow = background: #ffffd8; border: #f9fa7e *//*

*/
/* blue = background: #d5ddf0 border: #a8b1c6 *//*

#savedFilterBox { background: #eee; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa; height: 31px; line-height: 31px; margin: 8px 0; width: auto; float: left; padding: 0 10px; }
#savedFilterBox p, #savedFilterBox label { display: block; float: left; height: 31px; margin:0; padding: 0 5px 0 0; }
#savedFilterBox .selectWrapper { float: left; padding: 5px 0 0 0;  }
#savedFilterBox a.help { display: block; float: left; width: 58px; height: 22px; text-indent: -999em; background: url(/images/help_button.gif) no-repeat left top; margin: 5px 0 0 5px; }
.kpi_sublinks { padding: 0 0 0 20px; }
.kpi_sublinks a { color: #AAA; }
#applyFilter { clear: both; }
*/


/*
#filterBox { position: relative; border: 1px solid #a8b1c6; background: #d5ddf0; padding: 10px; margin:0; font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif; }
#filterBox h2 { margin:0; padding:0; border:0; font-size: 13px; }
#filterBox fieldset { border: 0;padding:0;margin:0 30px 15px 0; display: block; }
#filterBox fieldset.float { float: left; }
#filterbox fieldset.newrow { clear: both;  }
#filterBox div.field { margin: 5px 0 10px 0; }
#filterBox div.field.float { float: left; margin: 0 30px 0 0; }
#filterBox div.field.newrow { clear: both; float: none; }
#filterBox div.field label { display: block; padding: 4px 0 4px 0; }
#filterBox fieldset legend { margin:0 0 5px 0; padding:0; font-size: 14px; font-weight: bold; text-indent: 0; }
#filterBox a.close { display: block; position: absolute; top: 5px; right: 5px; width: 16px; height: 16px; background: url(/images/close_icon.gif) no-repeat left top; }
*/

/* fix for filter pages that haven't been given new styling yet */
#div_filters table
{
	clear: both;
}

#applyFilters
{
	clear: both;
}

.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/********************************Calender**********************************************/
.calendar-monthly
{
	width: 100%; border-collapse: collapse;
}

.calendar-monthly td, .calendar-monthly th
{
	border: 1px solid #d8d8d8;
}

.calendar-monthly th
{
	/*text-align: center; background: #f2f3f5; height: 30px; line-height: 30px; font-weight: bold;*/
	background-color: #E6E6E6;
	background-image: url("images/table_head_back.gif");
	background-position: center top;
	background-repeat: repeat-x;
	border-color: silver;
	border-style: solid dotted;
	border-width: 1px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.calendar-monthly td { padding: 4px; height: 60px; min-height: 60px; width: 14%; }
.calendar-monthly td.before { background: #f2f3f5; }
.calendar-monthly td.after { background: #ffffff; }
.calendar-monthly td.today { background: #fffcdb; }
.calendar-monthly td a { color: #666; }
.calendar-monthly td a:hover { color: #5ec2a5; }
.calendar-monthly td a.daylink { font-weight: bold; }

.calendar-monthly ul, .calendar-daily ul, .calendar-weekly ul { padding:0;margin:5px 0; }
.calendar-monthly li, .calendar-weekly li { list-style: none; padding:0;margin:0; font-size: 12px; margin: 3px 0; }
.calendar-monthly li a, .calendar-weekly li a, .calendar-daily li a { color: #666666; padding: 4px; }
.calendar-monthly li span, .calendar-daily li span { color: #666666; font-weight: bold; }
.calendar-weekly li span { display: block; color: #666666; font-weight: bold; margin: 5px 0; }

a.goleft { padding: 0 30px 0 0; }
a.goright { padding: 0 0 0 30px; }

.calendar-weekly { width: 100%; border-collapse: collapse; }
.calendar-weekly td, .calendar-weekly th { border: 1px solid #d8d8d8; }
.calendar-weekly th { text-align: center; background: #f2f3f5; height: 30px; line-height: 30px; font-weight: bold; }
.calendar-weekly td { padding: 4px; height: 60px; min-height: 60px; width: 14%; }
.calendar-weekly td.before { background: #f2f3f5; }
.calendar-weekly td.after { background: #ffffff; }
.calendar-weekly td.today { background: #fffcdb; }
.calendar-weekly td a { color: #666; }
.calendar-weekly td a:hover { color: #5ec2a5; }
.calendar-weekly td a.daylink { font-weight: bold; }

.calendar-weekly th span { color: #5ec2a5; display: block; margin:0;padding:0; height: 18px; line-height: 10px; }

.calendar-daily { width: 100%; border-collapse: collapse; }
.calendar-daily td, .calendar-daily th { border: 1px solid #d8d8d8; }
.calendar-daily th { text-align: center; background: #f2f3f5; height: 30px; line-height: 30px; font-weight: bold; }
.calendar-daily td { padding: 4px; }
.calendar-daily td.before { background: #f2f3f5; }
.calendar-daily td.after { background: #ffffff; }
.calendar-daily td.today { background: #fffcdb; }
.calendar-daily td a { color: #666; }
.calendar-daily td a:hover { color: #5ec2a5; }
.calendar-daily td a.daylink { font-weight: bold; }
.calendar-daily td.daylabel { width: 100px; background: #F8F8F8; font-weight: bold; text-align: center; font-size: 12px; }
.calendar-daily li { font-weight: bold; list-style: none; padding:0;margin:0; font-size: 12px; margin: 3px 0 20px 10px; }
.calendar-daily li p.description { font-weight: normal; }

table.formtable { border: 0; padding:0;margin:0; }
table.formtable td { padding: 8px 2px; }
table.formtable input.width1, table.formtable textarea.width1 { width: 403px; }
table.formtable input.width2, table.formtable textarea.width2 { width: 79px; }
table.formtable select option { padding: 0 25px 0 0; }
table.formtable span.required { padding: 0 0 0 5px; color: #aaa; font-style: italic; }
table.formtable td.errors { color: #ff0000; }

dl,dt,dd {
	margin-top:2px;
	margin-bottom:10px;
	padding:2px;
}



.funding-box { border-collapse: collapse; }
/*.funding-box td { border: 1px solid #eee; }*/
.funding-box h3 { width: auto; margin: 0 0 10px 0; }


/* Information Block - relmes 09/03/2011 */
/* covering:                             */
/*   - breadcrumbs                       */
/*	 - feedback messages                 */
/*   - filters                           */
#infoblock
{
	position: relative;
}

#feedback
{
	background-color: #FF9B2F;
	display: none;
	font-size: 1.4em;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 5px;
	z-index:1000;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
}

#feedback a
{
	color: #000;
	text-decoration: underline;
}

/**************************Candiate Columns*****************************************/

#candidates body
{
	color: #666666;
	font-family:    Arial,sans-serif;
	font-size: 12px;
}

#candidates h3
{
	/*border-bottom: 2px solid #808080;*/
	color: #3E3E3E;
	font-size: 14pt;
	/*letter-spacing: 0.1em;*/
	margin: 20px 0px 20px 10px;
	padding-bottom: 2px;
	width: auto;
	text-transform:capitalize;
}

#candidates span
{
	/*	padding: 2px;
		float: left;*/
}

#candidates #maincontent .viewNavigator span
{
	float: inherit;
	color: #666666;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 12px;
}

#candidates .resultset .hover
{
	background-color:#F8F8F8;
	color:black;
}


#candidates #maincontent table, #candidates .resultset
{
	border: 0px none #E9E9E9;
	border-left-width: 1px;
	background-color:white;
	/*border-collapse:collapse;*/
	border-spacing: 0;
	margin-right: auto;
	margin-left: auto;
	align:centre;
}

#candidates #maincontent table th
{
	background:#f5f9ee;
	border: 1px solid silver;
	border-left-width: 0px;
	font-size: 12px;
	color:#86b128;
	text-align: center;
}

#candidates #maincontent table td
{
	border: 1px solid #E9E9E9;
	border-top-width: 0px;
	height: 30px;
	padding: 5px;
}

#candidates #maincontent table th.bottomRow
{
	border-width: 0px 1px 1px 0px!important;
	border-style:solid!important;
	border-color:#E9E9E9!important;
	border-bottom-color: silver!important;
	height: 30px;
	padding: 5px;

}

#candidates #maincontent table th.topRow
{
	border-width: 1px 1px 1px 0px!important;
	border-style:solid!important;
	border-color:#E9E9E9!important;
	border-bottom-color: silver!important;
	border-top-color: silver!important;
	height: 30px;
	padding: 5px;
}

#candidates #maincontent table tr.topRow th, tr.bottomRow td, tr.topRow td
{
	background:#f5f9ee;
	text-align: center;
}

#candidates #maincontent table tr.bottomRow td
{
	text-align: left;
	border-width:1px;
}

#candidates #maincontent table tr.middleRow th
{
	background:#f5f9ee;
	text-align: center;
}

#candidates #maincontent table tr.bottomRow th
{
	background:#f5f9ee;
	text-align: center;
}

#candidates #maincontent .viewNavigator table td
{
	text-align: center;
	border:0;
}

#candidates .column
{
	height: auto;
	padding: 5px;
	float: left;
	width: 380px;
}

#candidates .two_column
{
	height: auto;
	padding: 5px;
	float: left;
	width: 700px;
}

#candidates .column div
{
	/* background-color: #e9e9e9; */
	width: 100%;
	padding: 5px;
}

#candidates #stat-container
{
	background-color: #fff;
	height: 250px;
	width: 95%;
	margin: 0;
}

.cand_info td
{
	border: 1px solid #DCE5CD;
	text-align: left;
	width: 50%;
	vertical-align:middle
}

.shortrecord td, #vacancies .resultset td
{
	border-bottom: 1px solid #e9e9e9!important;
}

.high td
{
	background-color: #E0EAD0;
	border-bottom: 1px solid #fff!important;
}

.med td
{
	background-color: #FFE6D7;
	border-bottom: 1px solid #fff!important;
}

.low td
{
	background-color: #FFBFBF;
	border-bottom: 1px solid #fff!important;
}

.shortrecord a
{
	-moz-transition: box-shadow 0.3s ease-in-out 0s;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 74%, #EDEDED 100%) repeat scroll 0 0 transparent;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	display: block;
	float: left;
	margin: 1px 2px;
	overflow: hidden;
	padding:5px 15px 0px 15px;
	cursor:pointer;
	height:20px;
	display:inline-block;
	text-transform:capitalize;
	height: auto;
	width:auto;
	border: 1px solid #A3A3A3;
	color: #666666;

}

.shortrecord a:hover
{

	background:none repeat scroll 0 0 white;
	box-shadow:0 0 9px rgba(0,0,0,0.4),0 0 0 1px rgba(188,188,188,0.1);
}

#candidates .submit
{
	-moz-transition: box-shadow 0.3s ease-in-out 0s;
	background-image:url(images/button_bar_back.gif);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	display: block;
	float: left;
	margin: 1px 2px;
	overflow: hidden;
	padding:3px 15px 3px 15px;
	cursor:pointer;
	text-transform:capitalize;
	height: auto;
	width:auto;
	border: 1px solid #A3A3A3;
	border-radius: 5px;
	font-weight:bold;
	color: #666666;
	font-family: Arial,sans-serif;
	font-size: 13px;
}

#candidates .submit:hover
{
	background:none repeat scroll 0 0 white;
	box-shadow:0 0 9px rgba(0,0,0,0.4),0 0 0 1px rgba(188,188,188,0.1);
}

#candidates .disabled:hover
{
	background-color: #ffd9b5;
	color: #000;
	text-decoration: none;
}

/****
* buttons for generic screening
*/
#candidates .screen_button, .cand_info .screen_button {
	/*	height: 40px;
		line-height: 40px;
		background-color: #ff9b2f;
		border: 2px solid #ff9b2f;
		border-bottom: 2px solid #9f9f9f;
		border-right: 2px solid #9f9f9f;
		color: #000;
		margin: 0 5px 0 0;
		padding: 1px 3px;
		cursor: pointer;
		width: 32%;*/
}

#candidates .screen_button:hover, .cand_info .screen_button:hover
{
	border-top: 2px solid #d9d9d9;
	border-left: 2px solid #d9d9d9;
}

#candidates .td.candiatebutton
{
	align:center;

}

#candidates .green, .cand_info .green {
	background-color: #E0EAD0!important;
	border-color: #E0EAD0!important;
	color: #000;
	align:center;
}

#candidates .amber, .cand_info .amber {
	background-color: #FFE6D7!important;
	border-color: #FFE6D7!important;
	color: #000;
	align:center;
}

#candidates .red, .cand_info .red {
	background-color: #FFBFBF!important;
	border-color: #FFBFBF!important;
	color: #000;
	align:center;
}

.cand_info .resultset td {
	width: auto;
}


/******************************TAB*********************************************/

.yui-nav,.yui-nav li
{
	margin:0;
	padding:0;
	list-style:none;
}

.yui-navset li em
{
	font-style:normal;
}

.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li
{
	display:inline-block;
	display:-moz-inline-stack;
	display:inline;
	vertical-align:bottom;
	cursor:pointer;
	zoom:1;
}

.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a
{
	display:block;
	display:inline-block;
	vertical-align:bottom;
	zoom:1;
}

.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em
{
	display:block;
}

/*border under tabs*/
.yui-nav
{
	border-bottom:0px solid #3E3E3E;
}

.yui-skin-sam .yui-navset .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li
{
	margin:0 0.16em 0 0;
	padding:1px 0 0;
	zoom:1;
}

.yui-skin-sam .yui-navset .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected
{
	margin:0 0.16em -1px 0;
}

.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a
{
	border:solid #a3a3a3;
	border-width:0 1px;
	color:#666666;
	position:relative;
	text-decoration:none;
	background: url(/css/images/sprite.png) repeat-x;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em
{
	border:solid #a3a3a3;
	border-width:1px 0 0;
	border-bottom:0px solid white;
	cursor:pointer;
	padding:0.25em .75em;
	left:0;
	right:0;
	bottom:0;
	position:relative;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover
{
	color:#666666;
	/*	background: url(/css/images/green-tab2.gif) repeat-x;*/
	background: white repeat-x;
	outline: none;
}

.yui-skin-sam .yui-navset .yui-nav .selected a em
{
	padding:0.35em 0.75em;
	font-weight:bold;
	outline: none;
}

/*border around selecetd tab*/
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a em
{
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	outline: none;
}

.validated {
	background: url(/images/trafficlight-green.png) no-repeat left center;
}

.unvalidated {
	background: url(/images/trafficlight-yellow.png) no-repeat left center;
}

.invalidated {
	background: url(/images/trafficlight-red.png) no-repeat left center;
}

.yui-skin-sam .yui-navset .yui-content, .yui-skin-sam .yui-navset .yui-navset-top .yui-content {
	border-top: 1px solid #999\9;
	box-shadow: 10px 10px 5px #888;box-shadow: 0 -7px 10px -7px #888888;
	padding: 0.25em 0.5em;
	z-index: 1;
	background-color:white;
}

/* defaults to orientation "top" */
.yui-navset .yui-nav .selected a
{
	border-bottom-width:0; /* no bottom border for active tab */
	padding-bottom:0px; /* to match height of other tabs */
	outline: none;
}

.toplevel a em
{
	background-color:#CCD7C1;
}

.toplevel .selected a em
{
	background-color:#F3FAE5;
}

.yui-content .bottomlevel
{
	border: 1px solid #A3A3A3;
	border-top-width: 0px;
}

.yui-nav2,.yui-nav2 li
{
	margin:0;
	padding:0;
	list-style:none;
}

.yui-navset2 li em
{
	font-style:normal;
}

.yui-navset2 .yui-nav2 li,.yui-navset2 .yui-navset-top .yui-nav2 li,.yui-navset2 .yui-navset-bottom .yui-nav2 li
{
	display:inline-block;
	display:-moz-inline-stack;
	display:inline;
	vertical-align:bottom;
	cursor:pointer;
	zoom:1;
}

.yui-navset2 .yui-nav2 li a,.yui-navset-top .yui-nav2 li a,.yui-navset-bottom .yui-nav2 li a
{
	display:block;
	display:inline-block;
	vertical-align:bottom;
	zoom:1;
}

.yui-navset2 .yui-nav2 li a em,.yui-navset-top .yui-nav2 li a em,.yui-navset-bottom .yui-nav2 li a em
{
	display:block;
}


/*border under tabs*/
.yui-nav2
{
	/*	border-bottom:2px solid #3E3E3E;*/

}

/******************************SUB-TAB*********************************************/

.yui-skin-sam .yui-navset2 .yui-nav2 li,.yui-skin-sam .yui-navset2 .yui-navset-top .yui-nav2 li
{
	margin:0 0.16em 0 0;
	padding:1px 0 0;
	zoom:1;
}

.yui-skin-sam .yui-navset2 .yui-nav2 .selected,.yui-skin-sam .yui-navset2 .yui-navset-top .yui-nav2 .selected
{
	margin:0 0.16em -1px 0;
}

.yui-skin-sam .yui-navset2 .yui-nav2 a,.yui-skin-sam .yui-navset2 .yui-navset-top .yui-nav2 a
{
	border:solid #a3a3a3;
	border-width:0 1px;
	color:#666666;
	position:relative;
	text-decoration:none;
	/*background-color: #d8d8d8;*/
	background: url(/css/images/sprite.png) repeat-x;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.yui-skin-sam .yui-navset2 .yui-nav2 a em,.yui-skin-sam .yui-navset2 .yui-navset-top .yui-nav2 a em
{
	border:solid #a3a3a3;
	border-width:1px 0 0;
	border-bottom:2px solid white;
	cursor:pointer;
	padding:0.25em .75em;
	left:0;
	right:0;
	bottom:0;
	/*top:-1px;*/
	position:relative;

	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.yui-skin-sam .yui-navset2 .yui-nav2 .selected a,.yui-skin-sam .yui-navset2 .yui-nav2 .selected a:focus,.yui-skin-sam .yui-navset2 .yui-nav2 .selected a:hover
{
	color:#666666;
	/*	background: url(/css/images/green-tab2.gif) repeat-x;*/
	background: white repeat-x;
}

.yui-skin-sam .yui-navset2 .yui-nav2 a:hover,.yui-skin-sam .yui-navset2 .yui-nav2 a:focus
{
	/*background-color: #bfdaff;*/
	/*background: url(/css/images/sprite.png) repeat-x;*/
	/*outline:0;*/
}

.yui-skin-sam .yui-navset2 .yui-nav2 .selected a em
{
	padding:0.35em 0.75em;
	font-weight:bold;
}

/*border around selecetd tab*/
.yui-skin-sam .yui-navset2 .yui-nav2 .selected a,.yui-skin-sam .yui-navset2 .yui-nav2 .selected a em
{
	/*border-color:#243356;*/
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

/*border around tab content*/
.yui-skin-sam .yui-navset2 .yui-content,.yui-skin-sam .yui-navset2 .yui-navset-top .yui-content
{
	-moz-box-shadow: 0px -7px 10px -7px #888;
	-webkit-box-shadow: 0px -7px 10px -7px #888;
	box-shadow: 0px -7px 10px -7px #888;
	z-index:1;
	padding:0.25em 0.5em;
	border-top:1px solid #A3A3A3\9;
}


/* defaults to orientation "top" */
.yui-navset2 .yui-nav2 .selected a
{
	border-bottom-width:0; /* no bottom border for active tab */
	padding-bottom:1px; /* to match height of other tabs */
}

/***********************Tab- Regional Learners****************************************************/

#tabs
{
	text-align: center;
	margin-top: 10px;
}

#tabs>div
{
	clear: both;
	min-height: 200px;
	background-color: white;
	box-shadow: 0 -7px 10px -7px #888888;
	padding: 0.25em 0.5em;
	z-index: 1;
}

#tabs ul
{
	/*float: left;*/
	list-style-type: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#tabs ul li
{
	border: 1px solid #A3A3A3;
	border-bottom-color: white;
	border-radius: 5px 5px 0 0;
	float: left;

	margin-right: 2px;
	background-color:  #f9f9f9;
	padding: 0.35em 0.75em;
	line-height: 20px;
}

#tabs ul li a
{
	background-color:  #f9f9f9;
	float: left;
	text-decoration: none;
	color: #666666;
}

#tabs ul li.active
{
	background-color: white;
	border: 1px solid #A3A3A3;
	border-bottom-color: white;
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	color: #666666;
}

#tabs ul li.active a
{
	background-color: white;
}





.button-group button
{
	background: url("images/ui-bg_gloss-wave_100_ece8da_500x100.png") repeat-x scroll 50% 50% #ECE8DA;
	border: 1px solid #D4CCB0;
	color: #666666;
	cursor: pointer;
	margin: 0.5em 0.4em 0.5em 0;
	font-size: 1em;
	font-family: Arial,sans-serif;
	display: inline-block;
	overflow: visible;
	padding: 5px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	border-radius: 6px;
}

.yui-panel .hd
{
	padding: 0.4em 1em;
	border-radius: 6px;
	background: url("images/ui-bg_gloss-wave_100_ece8da_500x100.png") repeat-x scroll 50% 50% #ECE8DA;
	border: 1px solid #D4CCB0;
	color: #666666;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

.yui-panel
{
	padding: 0.2em;
	border-radius: 6px;
	background: url("images/ui-bg_highlight-hard_100_f5f3e5_1x100.png") repeat-x scroll 50% top #F5F3E5;
	border: 1px solid #DFD9C3;
	color: #666666;
	font-family: segoe ui,Arial,sans-serif;
	font-size: 1.1em;
}


.button-group button:hover, .button-group button.hover
{
	font-weight: normal;
	cursor: pointer;
	margin: 0.5em 0.4em 0.5em 0;
	font-size: 1em;
	font-family: Arial,sans-serif;
	display: inline-block;
	overflow: visible;
	padding: 5px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	border-radius: 6px;
	background: none repeat scroll 0 0 #666666;
	border: 1px solid white;
	color: white;
}
/****************************viewPaginator extension of viewNavigator**************************************************/

.viewPaginator {
	padding: 2px;
	margin: 5px;
	height: 55px;
	text-align: center;
}

.viewPaginator span {
	float: inherit!important;
}

.viewPaginator ul {
	width: inherit;
}

.viewPaginator li {
	display: block;
	float:left;
	list-style-type: none;
	border: 1px solid #e9e9e9;
	padding: 6px;
	margin: 6px;
	width: 30px;
}

.viewPaginator li.active{
	color: #fff;
	background-color: #9EB574;
	display: inline;
	list-style-type: none;
	border: 1px solid #9EB574;
	padding: 8px;
	margin: 8px;
}

.viewPaginator a {
	color: #9EB574;
	display: block;
	width: 100%;
}

.viewPaginator li:hover {
	background-color: #9EB574;
}

.viewPaginator a:hover {
	color: #fff;
	text-decoration: none;
}

div.yui-navset
{
	margin-top: 10px;
}

/****************************Wiki**************************************************/

div.Wiki
{
	padding: 3px 3px 3px 43px;
	counter-reset: level1 level2 level3 level4;
}

div.Wiki h1, div.Wiki h2, div.Wiki h3, div.Wiki h4
{
	border: none;
	width: inherit;
	margin-top: 1em;
	background-color: transparent;
	letter-spacing: normal;
	color: #666666;
	font-family: "Arial", "Helvetica", "Sans-Serif";
}

div.Wiki h1
{
	background-color: #E6E6E6;
	border-bottom: 2px solid #666666;
	color: #666666;
	letter-spacing: 0.1em;
	/*margin: 10px 0;*/
	padding: 5px;
	/*width: 600px;*/
	font-size: 18pt;
	margin: 0px 0px 5px -40px;
}

div.Wiki h2
{
	counter-reset: level2 level3;
	font-size: 15pt;
	margin-left: -40px;
	margin-bottom: 0.2em;
}

div.Wiki h3
{
	counter-reset: level3;
	font-size: 13pt;
	margin-left: -20px;
	margin-bottom: 0.2em;
}

div.Wiki h4
{
	font-size: 11pt;
	margin-left: -0px;
	margin-bottom: 0.1em;
}

div.Wiki h2:before
{
	content: counter(level1) " ";
	counter-increment: level1;
}

div.Wiki h3:before
{
	content: counter(level1) "." counter(level2) " ";
	counter-increment: level2;
}

div.Wiki h4:before
{
	content: counter(level1) "." counter(level2) "." counter(level3) " ";
	counter-increment: level3;
}

div.Wiki *:first-child
{
	margin-top: 0px;
}

div.Wiki p
{
	margin-bottom: 1em;
	margin-top: 0px;
	margin-right: 0px;
	font-family: arial, helvetica, sans-serif;

}

div.Wiki > ul, div.Wiki > ol
{
	margin-bottom: 1.5em;
	margin-top: 0px;
	font-family: arial, helvetica, sans-serif;
}

/* Move lists closer to preceding paragraph */
div.Wiki > p + ul, div.Wiki div.Body > p + ol
{
	margin-top: -5px;
}

div.Wiki a
{
	text-decoration: underline;
	color: #294586;
}

div.Wiki div.Quote
{
	margin-top: 1em;
	margin-left: 30px;
	margin-bottom: 1.5em;
	border-left: 5px solid #294586;
	padding-left: 6px;
	padding-right: 50px;
	text-align: justify;
}

div.Wiki div.Indent
{
	margin-top: 1em;
	margin-left: 30px;
	margin-bottom: 1.5em;
}

div.Wiki table
{
	border-collapse: collapse;
	margin-bottom: 1.5em;
	margin-left: 20px;
	color: #666666;
}

div.Wiki td, div.Wiki th
{
	border: 1px dotted grey;
	padding: 3px;
}

div.Wiki th
{
	border-bottom-style: solid;
	border-top-style: solid;
	color:#fff;
	background: rgb(40,52,59); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 44%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,52,59,1)), color-stop(44%,rgba(130,140,149,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* IE10+ */
	background: linear-gradient(top,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 44%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#828c95',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	text-align: center;
}

/***********************Right-hand Menu******************************************************/

div.RightMenu
{
	border: 1px solid black;
	background-color: white;
	position: fixed;
	top: 134px;
	right: 6px;
	padding:5px;
}

div.RightMenuTitle
{
	background-color: #DCEAB1;
	color: #3E3E3E;
	font-weight: bold;
	font-size: 11pt;
	cursor:default;
	padding:5px;
	margin-top: 20px;
	border-bottom: 2px solid black;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

div.RightMenuSubtitle
{
	margin-left: 8px;
	margin-top: 10px;
	color: #4361A7;
	font-weight: bold;
	border-bottom: dotted #4361A7 1px;
}

div.RightMenuTitle:first-child
{
	margin-top:0px;
}

div.RightMenuItem
{
	margin-left: 1px;
	margin-top: 3px;
	color: #5ec2a5;
	font-size: 10pt;
	padding-right: 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
}