body {
	color: #666666;
	font-family: Arial, sans-serif;
}

table.resultset td {
	border-color: #E9E9E9 !important;
	border-style: solid !important;
	border-width: 0 1px 1px 0 !important;
}

form.formular, .validationEngineContainer {
	font-family: tahoma, verdana, "sans-serif";

	padding: 20px;
	border: 1px solid #A5A8B8;
	width: auto;
	margin: 0 auto;
}

.formular fieldset {
	margin-top: 15px;
	padding: 10px;
	border: 3px solid #B5B8C8;
	border-radius: 15px;
}

fieldset.innerFieldset {
	margin-top: 15px;
	padding: 10px;
	border: 2px solid #B5B8C8;
	border-radius: 15px;
}


.formular legend {
	font-size: 12px;
	color: #15428B;
	font-weight: 900;
}

.formular fieldset label {
	float: none;
	text-align: inherit;
	display: block;
	width: auto;
}

.formular label span {
	color: #000;
}

.formular input, .formular select, .formular textarea {
	display: block; /* this breaks relative positioning */
	margin-bottom: 5px;
}

.formular .text-input {
	width: 250px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
	margin-top: 4px;
	background: #FFF repeat-x;
}

.formular textarea {
	width: 250px;
	height: 70px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
	margin-top: 4px;
	background: #FFF repeat-x;
}

.formular .infos {
	background: #FFF;
	color: #333;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 10px;
}

.formular span.checkbox, .formular .checkbox, .formular .radio {
	display: inline;
}

.formular .submit {

	border: 1px solid #AAA;
	padding: 4px;
	margin-top: 20px;
	float: right;
	text-decoration: none;
	cursor: pointer;
}

.formular hr {
	clear: both;
	visibility: hidden;
}

.formular .fc-error {
	width: 350px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 12px;
	margin-bottom: 15px;
	background: #FFEAEA;
}

.formular input[data-prompt-position="inline"] {
	display: inline;
}

.footnote {
	font-size: 11px;
	color: #666;
	font-style: italic;
}

.prompt-target {
	border: 1px dotted #666;
	min-height: 21px;
}

.inline-prompts label>span {
	display: inline-block;
	width: 250px;
}

.inline-prompts .text-input+.formError {
	margin-left: 10px;
}

.prompt-summary .inline {
	display: block;
}

input[type="ilr"] {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #A3A3A3 #A3A3A3 white;
	border-radius: 5px 5px 0 0;
	border-style: solid;
	border-width: 1px 0 2px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	padding: 0.25em 0.75em;
	position: relative;
	right: 0;
	width: 10px;
}

input[type="ilr"]:hover {
	background: none;
	box-shadow: none;
}

.button {
	-moz-transition: box-shadow 0.3s ease-in-out 0s;
	background-image: url("css/images/button_bar_back.gif");
	border: 1px solid #A3A3A3;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	display: inline-block;
	float: right;
	font-weight: bold;
	height: auto;
	margin-left: 10px;
	padding: 5px;
	width: auto;
}

input.compulsory[type="text"], select.compulsory, textarea.compulsory {
	width: 380px;
}

input[type="text"], input[type="password"], textarea, select {
	width: 380px;
}


input.DateBox[type="text"] {
	width: 100px;
}

.heading {
	color: #3E3E3E;
	font-size: 12pt;
	font-weight: bold;
	text-transform: capitalize;
}

.button {
	margin-left: 10px;
}

.button {
	background-image: url("./images/button_bar_back.gif");
	border: 1px solid #A3A3A3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	height: auto;
	margin: 1px 2px;
	overflow: hidden;
	padding: 5px 15px;
	text-transform: capitalize;
	transition: box-shadow 0.3s ease-in-out 0s;
	width: auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url("../jquery-ui/css/images/ui-bg_gloss-wave_100_ece8da_500x100.png") repeat-x scroll 50% 50% #ECE8DA;
	border: 1px solid #D4CCB0;
	color: #666666;
	font-family: Arial, sans-serif;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: none repeat scroll 0 0 #666666;
	border: 1px solid white;
	color: white;
}

a:hover {
	text-decoration: none;

}

div.banner {
	height: 66px;
	background-color: #5b7b23;
	color: white;
	border: #727375;
	border-width: 2px;
	border-style: solid;
	background-image: url('/images/banner-background.gif');
	border-top-color: #77A22F;
	border-left-color: #688e29;
	border-right-color: #77A22F;
	border-bottom-color: #516e20;
	text-shadow: 2px 2px 3px #314314;
	-moz-border-top-left-radius: 7px;
	-moz-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: arial, sans-serif;
	font-size: 20px;
}

.removeTab {
	-moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
	background-color: #ffc477;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #eeb44f;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #cc9f52;

}

.removeTab:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
	background-color: #fb9e25;
	cursor: pointer;
}

.removeTab:active {
	position: relative;
	top: 1px;
}
