<form name="frmDeletePC179" method="POST" action="http://folio3/add_remove_training_elements/pcs"
   style="display: inline;" class="form-inline">
   <input type="hidden" name="student_id" value="129">
   <input type="hidden" name="tr_id" value="12">
   <input type="hidden" name="portfolio_id" value="12">
   <input type="hidden" name="qualification_id" value="3">
   <input type="hidden" name="portfolio_unit_id" value="49">
   <input type="hidden" name="portfolio_pc_id" value="179">
   <input name="_method" type="hidden" value="DELETE">
   <input name="_token" type="hidden" value="kB6VBNbhu50oFfcfmZw3E9NjK18xg3V9qUs8OT5a">
   <span onclick="deleteElement('frmDeletePC12');" class="btn btn-round btn-danger btn-xs"
      id="btnDeletePortfolioPC">
      <i class="ace-icon fa fa-trash-o"></i>Button
</span>
</form>
