/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/envs
/storage/folio-*
/public/storage-folio-*
/.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yamlp
npm-debug.log
yarn-error.log
storage/framework/views/fa57c95efec41daf82739e880803e63f3bb5d205.php
storage/framework/views/fa57c95efec41daf82739e880803e63f3bb5d205.php
storage/logs/laravel-2025-04-02.log
